.GlobalRecipeSearch{

}

.OpenSearchButton{
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: #ff2200;
	font-size: 32px;
	color: #fff;
	padding: 12px;
	line-height: 38px;
	width: 38px;
	text-align:center;
	border-radius: 100%;
	box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.45);
}

.SearchModal{
	position: fixed;
	top: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	transition: top 500ms ease-in-out;
}

.ModalOpen{
	top:0;
}

.SearchHeader{
	background-color: #444444;
	color: #fff;
	font-size: 32px;
	padding: 8px;

	a{
		color: inherit;
	}

	input{
		border: 0;
		font-size: 24px;
		background-color: transparent;
		color: inherit;
		margin-left: 24px;
	}
}

.SearchResults{
	font-size: 24px;
	overflow: auto;
    height: 100%;

	a{
		display: block;
		text-decoration: none;
		color: inherit;
		padding: 12px 0;
	}
}